<div class="aboutus">
  <h3 class="text-center">About us</h3>
  <ul style="font-size: larger">
    <li>
      <span>Telegram: </span><a href="https://t.me/praise_the_sunnn">Albus</a
      ><span>, </span><a href="https://t.me/Albvos">Albvos</a>
    </li>
    <li>
      <span>GitHub: </span
      ><a href="https://github.com/Albus-489?tab=repositories">Albus-489</a>
    </li>
    <li>
      <!-- TODO make email copy to clipboard by click -->
      <span>Gmail: </span
      ><span style="cursor: pointer" class="text-success"
        >bavrzar@gmail.com</span
      >
    </li>
  </ul>
</div>
